.space {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	min-height: 90vh;
}
.space .info {
	display: flex;
	justify-content: flex-start;
	flex: 1 1;
}
.space .info .addSpace,
.space .info .count {
	margin: 15px;
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: #6b00c6;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	letter-spacing: 1px;
}
.space .info .addSpace {
	color: #6b00c6;
	background-color: #fff;
	border: 3px solid #6b00c6;
}
.space .infoList {
	flex: 5 5;
	display: flex;
	justify-content: space-between;
}
.space .infoList .spaceList {
	flex: 5;
}
