.navbar {
  position: sticky;
  top: 0;
  left: 0;
  flex: 0.75;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.navbar div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0 10px 10px;
  font-size: 18px;
}
.navbar div a{
  font-size: 18px;
  text-decoration: none;
  color: #333;
  padding-left: 5px;
}
.logo {
  font-size: 30px !important;
  display: flex;
  justify-content: center;
}
hr {
  height: 2px;
  background: #666;
  width: 75%;
}
