.search{
	display: flex;
	align-items: center;
  width: 100%;
  margin: 15px 0;
}
.search input {
  background: #f4f2f8;
}
.search .searchitem {
  font-size: 30px;
  color: #333;
}
.search input {
  width: 50% ;
  height: 50px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #e6e6e6;
}
.search input::placeholder {
  padding-left: 10px;
}