.App {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.mainContent {
  flex: 4;
  background: #f4f2f8;
}
.content {
  flex: 3;
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content .searchInput {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 0.4;
}